<% content_for :title, "M'inscrire" %>
<br>
<br>
<br>
<br>
<br>

<%= form_for(:user, url: registration_path(:user)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
<div class='content sign_up'>
            <div class="container">
                <div class="col-lg-4 col-md-4 col-sm-12 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <form class="form" method="" action="">
                            <div class="card-header text-center">
                                <div class="logo-container">
                                    <%= image_tag 'icone-logo.png' %>
                                </div>
                                <h2>S'inscrire</h2>

                            </div>
                            <div class="card-body">
                                    <p class="mb-0"><%= f.label :user_name, 'Pseudo' %></p>
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-dark"><i class="now-ui-icons users_circle-08 mr-2"></i></span>
                                    </div>
                                    <%= f.text_field :user_name, autofocus: true, autocomplete: "Votre nom", placeholder:"Pseudo", class:'form-control', style:'height: 46px;' %>
                                </div>

                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-dark"><i class="now-ui-icons ui-1_email-85 mr-2"></i></span>
                                    </div>
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:'form-control', style:'height: 46px;' %>
                                </div>

                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-dark"><i class="now-ui-icons ui-1_lock-circle-open mr-2"></i></span>
                                    </div>
                                    <%= f.password_field :password, autocomplete: "current-password", placeholder:"Mot de passe", class:'form-control', style:'height: 46px;' %>
                                </div>

                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-dark"><i class="now-ui-icons ui-1_lock-circle-open mr-2"></i></span>
                                    </div>
                                    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirmation", class:'form-control', style:'height: 46px;' %>
                                </div>

                                <div class="input-group form-group-no-border input-lg"> 
                                  <%= f.text_field :address, autofocus: true, autocomplete: "Votre nom", placeholder:"Adresse, ville ou code postal", class:'form-control', style:'height: 46px;' %>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <%= f.submit "Créer un compte", class:"btn btn-primary btn-round btn-block align-middle" %>
                            </div>
                            <center>
                                <div class="link footer-link">
                                  <h6><%= render "devise/shared/links" %></h6>
                                </div>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= render "shared/algolia_places" %>