            <div class="media ">
                <div class="media pull-right">
                    <a class="" href="#pablo">
                        <div class="avatar">
                            <%= image_tag comment_thread.user.avatar, class:"media-object img-raised", alt:'Photo comment_re' %>
                        </div>
                    </a>
                </div>
                <div class="media-body d-block">
                    <h5 class="media-heading "><%= comment_thread.user.user_name%>
                        <small class="text-muted"> Il y a <%= comment_thread.created_at %></small>
                    </h5>
                    <p><%= comment_thread.content%></p>
                    <div class="media-footer">
                        <%= link_to post_likes_path(comment_thread.id), class: 'vote', method: :post, remote: true do %>
                        <%= button_tag class:"btn btn-danger btn-neutral pull-right" do %><i class="now-ui-icons ui-2_favourite-28"></i> <span id='count_like_<%=comment_thread.id%>'><%= comment_thread.likes.size %></span><% end %>
                        <%end%>
                    </div>                                   
                </div>
            </div>