      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">

            <h3 class="title text-center">Commenter</h3>
            <div class="media media-post">
              <%= link_to user_path(current_user.id), class:'pull-left author' do %>
                <div class="avatar">
                  <%= image_tag current_user.avatar, class:'media-object img-raised', alt:"Votre photo de profil" %>
                </div>
              <% end %>
              <div class="media-body">
                <%= form_tag post_comments_path(post.id) do %>
                  <%= text_area_tag :content, nil, placeholder:'Commentez', rows:'4', class:'form-control' %>
                  <div class="media-footer">
                  <%= submit_tag :submit, class:"btn btn-primary pull-right" do %>
                    <i class="now-ui-icons ui-1_send"></i> Repondre
                  <% end %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="media-area">
              <h3 class="title text-center"><%= post.comments.size %> commentaires</h3>
              <% comments.each do |comment|%>
                <%= render comment, locals: {comment: comment}  %>
              <% end -%>  
            </div>

          </div>
        </div>
      </div>