


                                <div class="media">
                                    <a class="pull-left" href="#pablo">
                                        <div class="avatar">
                                        	<%= image_tag comment.user.avatar, class:"media-object img-raised", alt:'Photo commenteur' %>
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading"><%= comment.user.user_name%>
                                            <small class="text-muted">&middot; Il y a <%= comment.created_at %></small>
                                        </h5>
                                        <p><%= comment.content%></p>
                                        <div class="media-footer">
                                            <a href="#pablo" class="btn btn-primary btn-neutral pull-right" rel="tooltip" title="Repondre au commentaire">
                                                <i class="now-ui-icons ui-1_send"></i> Repondre
                                            </a>
                                            <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                                <i class="now-ui-icons ui-2_favourite-28"></i> <%= comment.likes.size %>
                                            </a>
                                        </div>
                                    </div>
                                </div>