<!-- -- HEADER  -->
<div class="media mr-1" id='comment-<%= comment.id %>'>
    <!-- -- AVATAR  -->
    <div class="media pull-right">
        <%= link_to user_path(comment.user.id), class:"pull-left" do %>
            <div class="avatar">
                <%= image_tag comment.user.avatar_mini, class:"media-object img-raised", alt:'Photo commentateur' %>
            </div>
        <% end -%>
    </div>
    <!-- -- USER  -->
    <div class="media-body d-block">
        <h5 class="media-heading "><%= comment.commentator %>
            <small class="text-muted"> Le <%= comment.readable_date %></small>
            <!-- -- EDIT/DELETE  -->
            <% if comment.was_writted_by(current_user) %>
                <small>
                    <%= link_to post_comment_path(post_id: comment.commenteable_id, id: comment.id, comment_id: comment.id), remote: true, method: :delete, data: { confirm: 'Etes-vous sur?'}, class:'pull-right text-primary' do %><i class="now-ui-icons ui-1_simple-remove"></i><% end %>
                    <%= link_to '', class:'pull-right text-primary mr-1', id:"edit-comment-#{comment.id}" do %><i class="now-ui-icons ui-1_settings-gear-63"></i><% end %>
                </small>
            <% end %>
        </h5>
        <!-- -- CONTENT  -->
        <p id='comment-content-target-<%=comment.id%>'><%= comment.content%></p>
        <!-- -- HIDDEN FORM  -->
        <div class="media-body" id='comment-form-target-<%=comment.id%>' style="display:none">
            <%= form_for @comment, url: post_comment_path(comment.commenteable_id, comment.id), method: :patch, remote: true do |f| %>
                <%= f.text_area :content, autofocus: true, autocomplete: "content", placeholder:'Commentez', rows:'4', class:'form-control' %>
                <div class="media-footer">
                    <%= f.submit :Commenter, class:"btn btn-primary pull-right" %>
                </div>
            <% end %>
        </div>
        <!-- -- FOOTER  -->
        <div class="media-footer">
            <%= link_to post_likes_path(post_id: comment.commenteable_id, comment_id: comment.id), method: :post, remote: true, data: {toggle:"tooltip", placement:"right"}, title:"#{comment.poeple_who_likes}", class:"btn btn-danger btn-neutral pull-right" do %>
                <i class="now-ui-icons ui-2_favourite-28"></i> <span id='count_comment_like_<%= comment.id %>'><%= comment.likes_size %></span>
            <%end%>
        </div>                                   
    </div>
</div>



<div style='display: none'>
    <script>
        $('#edit-comment-<%= comment.id %>').click(function(e) { 
            e.preventDefault();
            console.log('click')
            $('#comment-content-target-<%=comment.id%>').hide();
            $('#comment-form-target-<%=comment.id%>').show();
        });
    </script>
</div>

