<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title> Mon Profile </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/css/demo.css" rel="stylesheet" />
</head>

<body class="profile-page">

  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/pe.jpg') ;">
      </div>
      <p id="notice">
        <%= notice %>
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>
        <div class="content-center">
          <div class="photo-container">
            <img src="<%= image_tag(@user.avatar) %>" alt="">
          </div>
          <h3 class="name">
            <%= @user.user_name %>
          </h3>
          <%= @user.email %>
          <div class="content">
            <div class="social-description">
              <h2>26</h2>
              <p>Articles </p>
            </div>
            <div class="social-description">
              <h2>26</h2>
              <p>Commentaires</p>
            </div>
            <div class="social-description">
              <h2>26</h2>
              <p>likes</p>
            </div>

          </div>
        </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container">
          <a href="#button" class="btn btn-primary btn-round btn-lg">Publier un article </a>
          <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="messages">
            <i class="fa fa-envelope"></i>
          </a>

        </div>
        <div>
          <h3 class="title">À propos de moi <i class=" btn btn-primary btn-round btn-lg btn-icon " aria-hidden="true" title="modifier">
              <i class="fa fa-pencil"></i></i>

          </h3>

        </div>
        <h5 class="description text-center">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid
          groove structure. An artist of considerable range.</h5>
        <div class="row">

        </div>

      </div>
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="card-header-center">
              <center>
                <h4 class="card-title-center">catégories</h4>
              </center>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="badge badge-primary">bio</span>
                <span class="badge badge-primary">bio</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>




  <br>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to "Editer infos de connexion", edit_user_registration_path, class:"btn btn-primary btn-md bouton" %>
  <%= link_to 'Back', users_path %>

  <br>

</body>

</html>
