<% content_for :title, "Mon profil" %>

<div class="profile-page">
  <div class="wrapper">

    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url(<%= image_path 'bg-17.jpg' %>) ;">
      </div>
      <div class="content-center">
        <div class="photo-container">
          <%= image_tag @user.avatar_big, class:'rounded-circle img-raised', alt:"Photo de profile"%>
        </div>
        <h3 class="title mt-1"><%= @user.user_name %></h3>
        <p><%= @user.email if params[:id].to_i == current_user.id %></p>
        <div class="content">
          <div class="social-description">
            <h2><%= @user.posts.size %></h2>
            <p>Publications</p>
          </div>
          <div class="social-description">
            <h2><%= @user.comments.size %></h2>
            <p>Commentaires</p>
          </div>
          <div class="social-description">
            <h2><%= @user.likes.size %></h2>
            <p>Likes</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <% if params[:id].to_i == current_user.id %>
          <div class="button-container">
            <%= link_to edit_user_path(@user), class:"btn btn-primary btn-round btn-lg" do %>Editer mon profile<% end %>
            <%= link_to edit_user_registration_path, class:"btn btn-default btn-round btn-lg btn-icon", name:'Editer informations de connexion' do %>
            <i class="now-ui-icons ui-1_settings-gear-63" title="Editer infos de connexion"></i><% end %>
          </div>
        <% end %>
        <div>
          <h3 class="title">À propos de moi
            <% if params[:id].to_i == current_user.id %>
              <%= button_tag class:"btn btn-primary btn-round btn-lg btn-icon", id:'toggle-user_description' do %><i class="fa fa-pencil"></i><% end %>
            <% end %>
          </h3>
        </div>

        <h5 class="description text-center" id='user-description-target'>
          <% if @user.description.nil? %>
            Il nous faudra répondre à notre véritable vocation, qui n'est pas de produire et de consommer jusqu'à la fin de nos vies, mais d'aimer, d'admirer et de prendre soin de la vie sous toutes ses formes. 
          <% else %>
            <%= @user.description %>
          <% end %>
        </h5>
        
        <% if params[:id].to_i == current_user.id %>
          <div id="user-description-form" class='description text-center mb-5' style='display:none'>
            <%= form_with(model: @user) do |form| %>
            <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>

            <div class="form-group">
              <%= form.label :description %>
              <%= form.text_area :description, autofocus:true, autocomplete: "description", class:"form-control" %>
            </div>

            <div class="actions">
              <%= form.submit class:"btn btn-round btn-primary", id:'update-description-btn' %>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <div class="card">
              <div class="card-header-center">
                <center>
                  <h4 class="card-title-center">Mes publications</h4>
                </center>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <% @user.posts.limit(10).each do |post| %>
                  <span class="badge badge-primary"><%= post.title %></span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if params[:id].to_i == current_user.id %>
  <div id='map'>
    <div id='menu'>
      <input id='basic' type='radio' name='rtoggle' value='basic' checked='checked'>
      <label for='basic'>basic</label>
      <input id='streets' type='radio' name='rtoggle' value='streets'>
      <label for='streets'>streets</label>
      <input id='satellite' type='radio' name='rtoggle' value='satellite'>
      <label for='satellite'>satellite</label>
    </div>
    <i class="now-ui-icons loader_refresh" id="spinning-wheel" style='display: none'></i>
  </div>


  <script>
    <% unless @user.longitude.nil? || @user.latitude.nil? %>
      mapProfile (<%= @user.longitude%>, <%= @user.latitude %>);
    <% else %>
      <% results = Geocoder.search(@user_ip) %>
      mapProfile (<%= results.first.coordinates[1] %>, <%= results.first.coordinates[0] %>);    
    <% end %>
  </script>
<% end %>
