<% content_for :title, "Changer mon mot de passe" %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= f.hidden_field :reset_password_token %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="page-header" filter-color="orange">

  <div class="content">
    <div class="container">
      <div class="col-md-5 ml-auto mr-auto">
        <div class="card card-login card-plain">
          <form class="form" method="" action="">
            <div class="card-header text-center">
              <div class="logo-container">
                <%= image_tag('logo_permaculture2.png', alt:"Logo perma-culture", width:'200px') %>
              </div>
            </div>
            <div class="card-body">
              <div class="input-group form-group-no-border justify-content-center input-lg">
                <div class="text-white" id='Change your password'>
                  <h4>Changer mon mot de passe</h4>
                </div>
              </div>

              <div class="input-group form-group-no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="now-ui-icons ui-1_lock-circle-open mr-2"></i></span>
                </div>
                <%= f.password_field :password, autofocus: true, placeholder: "Nouveau mot de passe", class:'form-control', style:'height:46px' %>
              </div>

              <div class="input-group form-group-no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="now-ui-icons ui-1_lock-circle-open mr-2"></i></span>
                </div>
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation mot de passe", class:'form-control', style:'height:46px'  %>
              </div>
              <br>
              <div class="card-footer text-center">
                <%= f.submit "Changer mon mot de passe", class:"btn btn-primary btn-round btn-block align-middle" %>
                <div class="link footer-link">
                  <h6><%= render "devise/shared/links" %></h6>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>`
</div>
<% end %>
