<center>
<div class="modal fade modal-primary mt-5" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="card card-login card-plain">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="now-ui-icons ui-1_simple-remove"></i>
          </button>
          <div class="header header-primary text-center">
            <div class="logo-container mb-2" style='width:100px'>
              <%= image_tag('logo2_all-white.png', alt:"Logo perma-culture") %>
            </div>
          </div>
        </div>
        <div class="modal-body" data-background-color>
          <%= form_for(:user, url: session_path(:user)) do |f| %>
            <div class="card-body">
              <div class="input-group form-group-no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text text-white"><i class="now-ui-icons ui-1_email-85"></i></span>
                </div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:'form-control', style:'height: 46px;' %>
              </div>
              <div class="input-group form-group-no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text text-white"><i class="now-ui-icons ui-1_lock-circle-open"></i></span>
                </div>
                <%= f.password_field :password, autocomplete: "current-password", placeholder:"Mot de passe", class:'form-control', style:'height: 46px;' %>
              </div>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <center>
            <div class="card-footer text-center justify-center-center">
              <%= f.submit "Se connecter", class:"col-8 btn-neutral btn-round text-primary mb-4" %>
                <h6><%= link_to 'Mot de passe oublie?', new_user_password_path, class:"link footer-link" %></h6>
            </div>
            </center>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</center>