<%= form_for(:user, url: session_path(:user)) do |f| %>
<div class='content sign_in'>
            <div class="container">
                <div class="col-12 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <form class="form" method="" action="">
                            <div class="card-header text-center">
                                <div class="logo-container">
                                    <img src=<%= image_path 'icone-logo.png' %> alt="">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-white"><i class="now-ui-icons ui-1_email-85"></i></span>
                                    </div>
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:'form-control', style:'height: 46px;' %>

                                </div>
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-white"><i class="now-ui-icons ui-1_lock-circle-open"></i></span>
                                    </div>
                                    <%= f.password_field :password, autocomplete: "current-password", placeholder:"Mot de passe", class:'form-control', style:'height: 46px;' %>
                                </div>
                                  <%= f.check_box :remember_me %>
                                  <%= f.label :remember_me %>
                            </div>
                            <div class="card-footer text-center">
                                <%= f.submit "Se connecter", class:"btn btn-primary btn-round btn-block" %>
                            </div>
                            <div class="pull-left">
                                <h6>
                                  <%= link_to 'Oublie mot de passe?', new_user_password_path, class:"link footer-link"  %>
                                </h6>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<% end %>
