<div class="container containerland2 parallax" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(<%= image_path('agriculture.jpg')%>)">

  <div class="row">

    <div class="col-6 left3 flex-column text-white d-flex justify-content-center align-items-left">

      <div class=" left5 flex-column text-white">

          <h4 class="ml-3">Le réseau social de l'agriculture écologique</h4>

          <p class="col-8">Nec sane haec sola pernicies orientem diversis cladibus adfligebat. Namque et Isauri, quibus est usitatum saepe pacari saepeque inopinis excursibus cuncta miscere, ex latrociniis occultis et
            raris, alente inpunitate adulescentem in peius audaciam ad bella gravia proruperunt, diu quidem perduelles spiritus inrequietis motibus erigentes, hac tamen indignitate perciti vehementer, ut iactitabant, quod eorum capiti quidam consortes apud
            Iconium Pisidiaeoppidum in amphitheatrali spectaculo feris praedatricibus obiecti sunt praeter morem.

          </div>

      </div>


      <div class="col-6 right left3 text-white d-flex justify-content-center align-items-center" id='right'>

        <%= form_for(:user, url: registration_path(:user)) do |f| %>
        <div class='content sign_up left3'>
          <div class="container">
            <div class="col-12 ml-auto mr-auto">
              <div class="card card-login card-plain">
                <form class="form" method="" action="">
                  <div class="card-header text-center">
                    <div class="logo-container">
                      <img src=<%= image_path 'icone-logo.png' %> alt="">
                    </div>
                  </div>
                  <div class="card-body">

                    <div class="input-group form-group-no-border input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text text-white">
                          <i class="now-ui-icons users_circle-08 mr-2"></i></i>
                        </span>
                      </div>
                      <%= f.text_field :user_name, autofocus: true, autocomplete: "Votre nom", placeholder:"Pseudo", class:'form-control', style:'height: 46px;' %>

                    </div>

                    <div class="input-group form-group-no-border input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text text-white">
                          <i class="now-ui-icons ui-1_email-85 mr-2"></i>
                        </span>
                      </div>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:'form-control', style:'height: 46px;' %>

                    </div>
                    <div class="input-group form-group-no-border input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text text-white">
                          <i class="now-ui-icons ui-1_lock-circle-open mr-2"></i>
                        </span>
                      </div>
                      <%= f.password_field :password, autocomplete: "current-password", placeholder:"Mot de passe", class:'form-control', style:'height: 46px;' %>
                    </div>

                    <div class="input-group form-group-no-border input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text text-white">
                          <i class="now-ui-icons ui-1_lock-circle-open mr-2"></i>
                        </span>
                      </div>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirmation", class:'form-control', style:'height: 46px;' %>
                    </div>

                    <div class="input-group form-group-no-border input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text text-white"><i class="now-ui-icons users_circle-08"></i></span>
                      </div>
                      <%= f.text_field :address, autofocus: true, autocomplete: "Votre nom", placeholder:"Adresse", class:'form-control', style:'height: 46px;' %>
                    </div>
                  </div>
                  <center>

                    <div class="col-8 card-footer text-center">
                      <%= f.submit "Creer un compte", class:"btn btn-primary btn-round btn-block" %>
                    </div>
                    <div class="pull-left">
                      <h6>
                        <%= link_to 'Déjà inscrit ?', '', class:"link footer-link", data: {toggle:"modal", target:"#loginModal"} %>
                      </h6>
                    </div>
                  </center>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <div class="col-12 scroll" id="scroll-click"></div>

  </div>

  <div class="containerland2 gradient" name='scroll-target'>

    <div class="column">

      <div>

        <h1 class="col-12 left2 text-white d-flex justify-content-center align-items-center">Qui sommes nous ?</h1>

      </div>

      <div class="col-12 text-white text-white d-flex justify-content-center align-items-center paragraph">

        <p class="col-8">Nec sane haec sola pernicies orientem diversis cladibus adfligebat. Namque et Isauri, quibus est usitatum saepe pacari saepeque inopinis excursibus cuncta miscere, ex latrociniis occultis et raris, alente inpunitate adulescentem in
          peius audaciam ad bella gravia proruperunt, diu quidem perduelles spiritus inrequietis motibus erigentes, hac tamen indignitate perciti vehementer, ut iactitabant, quod eorum capiti quidam consortes apud Iconium Pisidiaeoppidum in amphitheatrali
          spectaculo feris praedatricibus obiecti sunt praeter morem. Excitavit hic ardor milites per municipia plurima, quae isdem conterminant, dispositos et castella, sed quisque serpentes latius pro viribus repellere moliens, nunc globis confertos,
          aliquotiens et dispersos multitudine superabatur ingenti, quae nata et educata inter editos recurvosque ambitus montium eos ut loca plana persultat et mollia, missilibus obvios eminus lacessens et ululatu truci perterrens. Horum adventum praedocti
          speculationibus fidis rectores militum tessera data sollemni armatos omnes celeri eduxere procursu et agiliter praeterito Calycadni fluminis ponte, cuius undarum magnitudo murorum adluit turres, in speciem locavere pugnandi. neque tamen exiluit
          quisquam nec permissus est congredi. formidabatur enim flagrans vesania manus et superior numero et ruitura sine respectu salutis in ferrum.</p>

      </div>

      <div class="col-12 text-white text-white d-flex justify-content-center align-items-center paragraph">

        <p class="col-8">Cum haec taliaque sollicitas eius aures everberarent expositas semper eius modi rumoribus et patentes,varia animo tum miscente consilia, tandem id ut optimum factu elegit: et Vrsicinum primum ad se venire summo cum honore mandavit ea
          specie ut pro rerum tunc urgentium captu disponeretur concordi consilio, quibus virium incrementis Parthicarum gentium a arma minantium impetus frangerentur.
        </div>

      </div>

      <div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="modal fade modal-primary mt-5" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="card card-login card-plain">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="now-ui-icons ui-1_simple-remove"></i>
          </button>
          <div class="header header-primary text-center">
            <div class="logo-container mb-2" style='width:100px'>
              <%= image_tag('logo2_all-white.png', alt:"Logo perma-culture") %>
            </div>
          </div>
        </div>
        <div class="modal-body" data-background-color>
          <%= form_for(:user, url: session_path(:user)) do |f| %>
            <div class="card-body">
              <div class="input-group form-group-no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text text-white"><i class="now-ui-icons ui-1_email-85"></i></span>
                </div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:'form-control', style:'height: 46px;' %>
              </div>
              <div class="input-group form-group-no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text text-white"><i class="now-ui-icons ui-1_lock-circle-open"></i></span>
                </div>
                <%= f.password_field :password, autocomplete: "current-password", placeholder:"Mot de passe", class:'form-control', style:'height: 46px;' %>
              </div>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <div class="card-footer text-center">
              <%= f.submit "Se connecter", class:"btn btn-neutral btn-round btn-block" %>
            </div>
            <div class="pull-left">
              <h6>
                <%= link_to 'Mot de passe oublie?', new_user_password_path, class:"link footer-link"  %>
              </h6>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script> 
  $("#scroll-click").click(function() {
    let divTag = $("div[name='scroll-target']");

    $('html,body').animate({scrollTop: (divTag.offset().top - 76)},'slow');
  });
</script>