<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :index %>
    <%= form.text_field :index %>
  </div>

  <div class="field">
    <%= form.label :edit %>
    <%= form.text_field :edit %>
  </div>

  <div class="field">
    <%= form.label :show %>
    <%= form.text_field :show %>
  </div>

  <div class="field">
    <%= form.label :new %>
    <%= form.text_field :new %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
