<div class="card category-<%= post.category.id %>" id='post-<%= post.id %>' data-type='post'>
  <!-- --------- CARD HEADER----------- --><!-- A ARRANEGR +++++ -->
  <h3 class="card-title text-center mt-0" id="Card_Post">
    <% if post.writter == current_user %>      
    <span class='pull-right mr-1 mt-1'> <small>
      <%= link_to '#', data: { toggle:"modal", target:"#editModal-#{post.id}" } do %><i class="now-ui-icons ui-1_settings-gear-63 text-primary"></i><% end %> 
      <%= link_to post_path(post.id), remote: true, method: :delete, data: { confirm: 'Etes-vous sur?'} do %><i class="now-ui-icons ui-1_simple-remove text-primary"></i><% end %>
    </span></small>
    <% end %>
  </h3>
  <!-- ---------- CONTENT ------------------- -->
  <p class="justify-content-center pl-3 pr-3">
 
    <div class='row ml-4'>
      <div>
        <% if post.writter && post.writter.avatar.attached? %>
        <%= image_tag post.writter.avatar, class:'rounded-circle img-raised', alt:"Photo de profil", size:'64x64' %>
        <% end %>
      </div>
      <div class='ml-4'>
        <h5><%= post.writter.user_name.capitalize %></h5>
        <p style='margin-top: -10px;'<footer class="blockquote-footer"><%=post.created_at.strftime('%a %d %b')%></footer>
        </p>
      </div>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= post.title.downcase %></h5>
    <p class="card-text"><%= post.content %></p>
  </div>

  </p>
  <!-- --------------------- POST_PICTURES /CARROUSEL -------------------------- -->
  <%= render 'post_pictures', post: post  %>  



  <!-- ----------------------------------------- END PICTURES / POST FOOTER - BUTTONS --------------- -->
  <div class="d-flex justify-content-between d-flex flex-wrap  raw mb-0">
    <div class="text-center w-25 ml-3 mb-3 mt-3" >
      <p><%=post.category.name%></p>
    </div>
    <div>
      <%= link_to post_likes_path(post.id), method: :post, remote: true, data: {toggle:"tooltip", placement:"right"}, title:"#{post.likes.map{|like| like.user.user_name}.join(', ')}" do %>
        <%= button_tag class:"btn btn-danger btn-neutral pull-right" do %><i class="now-ui-icons ui-2_favourite-28"></i> <span id='count_like_<%=post.id%>'><%= post.likes.size %></span><% end %>
      <%end%>
      <%= button_tag class:"btn btn-danger btn-neutral pull-right", id:"comments-toggle-#{post.id}" do %><span class='number-comments-<%= post.id %>'><%= post.comments.size %></span> <%= 'commentaire'.pluralize(post.comments.size) %><% end %> <!-- TRIGGER COMMENTS -->
    </div>
  </div>
  <!-- ------------------------- EDIT MODAL ---------------------------- -->
  <%= render 'modal_edit_post', post: post %> 

  <!-- -------------------------- COMMENTS ------------------------------ -->
  <hr class='m-0'>
  <div class="container" id='comments-area-<%= post.id %>' style='display:none'>
    <div class="row">
      <div class="col-md-12 ml-3 mr-3">
        <%= render 'comments_form', post: post %> 
        <h3 class="title text-center"><span class='number-comments-<%= post.id %>'><%= post.comments.size %></span> <%= 'commentaire'.pluralize(post.comments.size) %></h3>
        <div class="media-area" id='comments-receiver-<%= post.id %>'>
          <%= render post.comments.reverse, post: post  %>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------------ COMMENTS END --------------------------- -->
</div>


<div style='display:none'>
  <script>
    $(document).ready(function() {
      $('#comments-toggle-<%= post.id %>').click(function() {
        $('#comments-area-<%= post.id %>').toggle();  
      })
    });
  </script>
</div>
