<p id="notice"><%= notice %></p>
<% content_for :background_banner, "bg-#{rand(1..6)}.jpg" %>
<%= render 'shared/banner_sm' %>


<table>
  <tbody>
    <div class="row">
      <div class="col-md-1"></div>
      <!-- ----------------- NAV LEFT (PARTIAL ?) ---------------- -->
      <div class="col-md-2">
        <%= render 'navbar_left-user' %>        
      </div>
      <!-- ------------------- MAIN SECTION ------------ -->
      <div class="container col-md-6 justify-content-center md-auto mt-3">
        <%= render 'index_form' %>
        <span id="sectionposts">
          <%= render @posts %>
        </span>
      </div>
      <!-- -------------------- NAV RIGHT ------------------ -->
      <div class="card col-md-2 ml-auto mt-3">
        <%= render 'navbar_right-messenger' %>        
      </div>
      <!-- ---------------------------------------------------------->
      <div class="col-md-1"></div>
    </div>
  </tbody>
</table>







<script>
$(document).ready(function() {
  <% @conversations.each do |conversation| %>
    // $.post(`/conversations/<%= conversation.id %>/close`, { id: `<%= conversation.id %>`}, 
    //     function(returnedData){
    //          console.log(returnedData);
    // });
    $('#conversations-list').find("[data-conversation-id='" + "<%= conversation.id %>" + "']").parent().remove();
  <% end %>


  function showAll() {
    $('div').find('[data-type="post"]').show();
  };
  
  function hideAll() {
    $('div').find('[data-type="post"]').hide();
  };

  $('#cat-all').click(function() {
    showAll();
  });

  for(let i = 1; i <= <%= @categories.size %>; i++) {
    $(`#cat-${i}`).click(function() {
      hideAll();
      $(`.category-${i}`).show();
    });
  };
});
</script>


