<p id="notice"><%= notice %></p>
<% content_for :background_banner, "bg-#{rand(1..12)}.jpg" %>
<%= render 'shared/banner_sm' %>


<div class="row">
  <div class="col-md-2 col-ext"></div>
  <!-- ----------------- NAV LEFT  ---------------- -->
  <div class="col-md-2 ml-0">
    <%= render 'navbar_left-user' %>
  </div>
  <!-- ------------------- MAIN SECTION ------------ -->
  <div class="container col-md-4 justify-content-center mt-3 ml-0 mr-0 p-0" id='main-section'>
    <%= render 'index_post-form' %>
    <span id="sectionposts">
    <%= render @posts %>
    </span>
    <div class="col-md-3 ml-auto mr-auto">
      <button rel="tooltip" class="btn btn-primary btn-round" id='load-more'>Voir plus...</button>
    </div>
  </div>
  <!-- -------------------- NAV RIGHT ------------------ -->
  <div class="col-md-2 mt-3 ml-0">
    <%= render 'navbar_right-messenger' %>        
  </div>
  <!-- ---------------------------------------------------------->
  <div class="col-md-2 col-ext"></div>
</div>





<script>
  $(document).ready(function() {
    indexPosts(<%= @categories.size %>)
  })
</script>

