<p id="notice"><%= notice %></p>
<% content_for :background_banner, "agriculture.jpg" %>
<%= render 'shared/banner_sm' %>


<table>
  <tbody>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 ">
        <div class="card text-center justify-content-center" id="User_card">
          <div class="card-header">
            <%= image_tag(current_user.avatar, class:'card-rounded-circle circle img-raised')%>
          </div>
          <h3 class="text-center card-header" id="User_Name">
            <%= link_to "#{current_user.user_name}", user_path(current_user)%></h3>

          <ul class="nav nav-tabs nav-tabs-neutral text-center" role="tablist">
            <h4 class="text-center mt-5">Mes articles</h4>
            <% current_user.posts.each do |post| %>
            <li class="text-center"><%= post.title %></li>
            <%end%>
          </ul>

          <ul class="nav nav-tabs nav-tabs-neutral text-center" role="tablist">
            <h4 class="mt-5 text-center">Mes catégories</h4>
            <% current_user.categories.each do |category| %>
            <li class="text-center"><%=category.name%></li>
            <%end%>
          </ul>
        </div>
      </div>



      <div class="container col-md-6 justify-content-center">
        <%= form_for @post, remote:true do | f |  %>
        <div class="form-group">
          <%= f.label:title, 'Titre' %>
          < br />
          <%= f.text_field:title, autofocus:true, class:"form-control" %>
        </div>
        <div class="form-group"> <%= f.label:content, 'Contenu' %>
          < br />
          <%= f.text_area:content, autofocus:true, class:"form-control" %>
        </div>
        <div class="field"> <%= f.label:category %>
          <%= select_tag(:category, options_for_select(@categories.collect { | c | [c.name, c.id] })) %> </div>
        <%= f.submit %>

        <% end %>


        < section id='sectionposts'> <%= render @posts %> </section>

      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <h5>Envie d'échanger?</h5>
        <h3 class="card-title">
          Ajouter liste des users pour messagerie
        </h3>
      </div>
      <div class="col-md-1"></div>
    </div>
  </tbody>
</table>