<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <%= favicon_link_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title><%= content_for?(:title) ? yield(:title) : 'PermaCulture' %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar'  %>
    <%= render 'layouts/flashes'  %>

    <%= yield %>

    <%= render 'shared/user-list'  %>
    <%= render 'layouts/conversations'  %>
    <%= render 'layouts/footer'  %>
  </body>
</html>
